{% extends craft.request.isAjax ? "layouts/_ajax" : "_layouts/_layout" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {{ html|raw }}
    </div>
  </div>
</div>

{% endblock %}
