{% import '_includes/forms' as forms %}

{{
  forms.lightswitchField({
    onLabel: 'On',
    offLabel: 'Off',
    label: '<strong>Ecom Engine routes</strong>',
    instructions: 'Toggle Ecom Engine routes',
    name: 'enabled',
    on: settings.enabled,
    first: true
  })
}}
